<div class="detail-tips-wrap">
  <i class="icon icon-tishi"></i>
  <div class="detail-tips">
    注:
    <ol class="tips-list">
      <li class="tips-item">
        挂接类型户型图在品管<span class="color-333">未进行实勘审核前或审核不通过</span> ，可以进行重新挂接
      </li>
      <li class="tips-item">
        参考图及草稿图类型在户型图绘制<span class="color-333">未分配前</span>，可以撤回重新设置
      </li>
    </ol>
  </div>
</div>
<script>
  module.exports = {}
</script>

<style scoped>
  .detail-tips-wrap {
    margin: 1rem 0 0.6rem 0.75rem;
    color: #999;
    font-size: 0.6rem;
  }

  .color-333 {
    color: #333;
  }

  .icon-tishi {
    display: inline-block;
    margin-right: 0.2rem;
    vertical-align: top;
    font-size: 0.55rem;
  }

  .detail-tips {
    display: inline-block;
    width: 75%;
    line-height: 0.95rem;
  }

  .tips-list {
    margin: 0;
    padding-left: 0.7rem;
    padding-bottom: 0.2rem;
  }

  .tips-item {
    padding-bottom: 0.3rem;
  }
</style>
